<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
  <style>
  body {
    font-family:serif;
  </style>
</head>
<body>
  <h2>エラーです</h2>
  <p><%= mes %></p>
  <a href="/">トップへ戻る</a><br>
</body>
</html>