<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>追加ページ</title>
  <style>
  body {
    font-family:serif;
  </style>
</head>
<body>
  <h2>追加ページ3/3</h2>
  <h3>各項目を入力して次ページへ進んでください</h3>
  <form action="/insertdrink">
    <label for="drink">商品名：</label>
    <input type="text" name="drink" id="drink" placeholder="(例)コーラ">
    <br>
    
    <label for="drink">カロリー：</label>
    <input type="text" name="cal" id="cal" placeholder="(例)110">
    <br>
    
    <label for="pop">容量(ml)：</label>
    <input type="number" name="pop" id="pop" min="0" step="5"><option value=""></option>
    <form method="post">
      
	    <div>
		    <label for="com">会社名：</label>
		    <select name="cid">
		      <option value="">選択してください</option>
          <% for( let row of data ) { %>
          <option value="<%= row.id %>"><%= row.name %></option>
          <% } %>
		    </select>
	    </div>
      <br>
      <input type="submit" value="追加">
      <br>
      <a href="/top">一覧へ戻る</a><br>
    </form>
</body>
</html>
