<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>insert after</title>
</head>
<body>
  <h2><%= mes %></h2>
  <a href="/itiran">一覧表を表示</a>
  <a href="/public/insert.html">続けて追加</a>
</body>
</html>