<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>result1</title>
  <style>
  body {
    font-family:serif;
  </style>
</head>
<body>
  <h2><%= mes %></h2>
  <a href="/insert1">続けて金額とコメントを追加</a><br>
  <br>
  <a href="/top">一覧表へ戻る</a><br>
</body>
</html>